<app-navbar></app-navbar>

<div class="container my-5">
  <div class="row">
    <!-- Left Section: Address Information -->
    <div class="col-md-6">
      <h2>Contact Us</h2>
      <!-- <p><strong>Address:</strong> Titus Coffee, 123 Coffee Road, Addis Ababa, Ethiopia</p> -->
      <p><strong>Email:</strong> info&#64;tituscoffeeco.com</p>
      <p><strong>Phone:</strong> +1(720)341-2796</p>
      <!-- <p><strong>Working Hours:</strong> Monday to Friday, 9 AM - 6 PM</p> -->
      <br />
      <h2 class="my-2">About Titus Coffee</h2>
      <p>At Titus Coffee, we specialize in sourcing the finest single-origin green coffee from Ethiopia, the birthplace
        of coffee. Our company is committed to delivering high-quality, ethically sourced coffee while supporting
        sustainable farming practices.</p>
    </div>

    <!-- Right Section: User Input (Form) -->
    <div class="col-md-6">
      <h2>Send Us a Message</h2>
      <form (submit)="sendEmail($event)">
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="name" name="from_name" placeholder="Your Name" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" name="reply_to" placeholder="Your Email" required />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" name="message" rows="4" placeholder="Your Message"
            required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
  </div>
</div>


<app-footer></app-footer>