<app-navbar></app-navbar>

<div class="container my-5">
    <h1 class="text-center mb-4">Our Coffee Products</h1>
    <!-- hr -->
     
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="product.name">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="text-muted">${{ product.price }}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  