/* .cart-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
   */
  /* .quantity-input {
    width: 70px;
    text-align: center;
  } */
  
  button {
    width: 348px !important;
  }
  
  h4, th, td, input {
    color: #5c3f0d !important;
  }
  input{
    width: 70px!important;
  }

  /* .container {
    max-width: 1200px;
    margin: 20px auto;
  } */
  
  .cart-items {
    margin-bottom: 20px;
  }
  
  .card {
    margin-top: 20px;
  }
  
  .collapsible {
    box-shadow: none;
  }
  
  .bg-secondary {
    --bs-bg-opacity: 1;
    background-color: #ffffff !important;
}

.titleColor {
    color: rgb(95, 95, 255) !important;
}

.paddingItem  {
  padding: 30px 20px 30px 10px!important;
}

.text-primary {
  margin-left: 70px;
}

h4 {
  color: black!important;
}

button {
  /* bold text */
  font-weight: bold;
  font-size: large;
}