<!-- Footer Section -->
<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Left Section: Quick Links -->
      <div class="col-md-4">
        
        <ul class="list-unstyled"><li><img src="../logo-transparent-png.png" alt="Titus Coffee Logo" width="200px" /></li></ul>
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          
          <li><a href="/" class="text-white">Home</a></li>
          <li><a href="/products" class="text-white">Products</a></li>
          <li><a href="/about-us" class="text-white">About Us</a></li>
          <li><a href="/contact" class="text-white">Contact</a></li>
        </ul>
      </div>

      <!-- Middle Section: Contact Info -->
      <div class="col-md-4">
        <h5>Contact Information</h5>
        <p><strong>Email:</strong> info&#64;tituscoffee.com</p>
        <p><strong>Phone:</strong> +251 912 345 678</p>
        <p><strong>Address:</strong> 123 Coffee Road, Addis Ababa, Ethiopia</p>
      </div>

      <!-- Right Section: Social Media Links -->
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a href="#" class="text-white"><i class="fab fa-facebook fa-2x"></i></a></li>
          <li class="ms-3"><a href="#" class="text-white"><i class="fab fa-twitter fa-2x"></i></a></li>
          <li class="ms-3"><a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li class="ms-3"><a href="#" class="text-white"><i class="fab fa-linkedin fa-2x"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Bottom Section: Copyright Notice -->
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p>&copy; 2025 Titus Coffee. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
