p {
    font-size: 20px;
    color: #000000 !important;
}

strong {
    color: #000000 !important;
}
h3 {
    color: #000000 !important;
}
.btn {
    background-color: #EEC373;
    border: none;
    color: #2a1803;
    font-weight: bold;
}

/* hover */
.btn:hover {
    background-color: #2a1803;
    color: #EEC373;
}

.img-fluid {
    width: 400px!important;
}