<app-navbar></app-navbar>

<div class="container mt-5">
    <h2>Selected Product</h2>
    <div *ngIf="product">
      <div class="row">
        <div class="col-md-4">
          <img [src]="product.image" class="img-fluid" [alt]="product.name"/>
        </div>
        <div class="col-md-6">
          <h3>{{ product.name }}</h3>
          <p><strong>Price:</strong> ${{ product.price }}</p>
          <p class="text-warning">⭐⭐⭐⭐⭐ ({{ product.rating }}/5) - {{ product.reviews }} Reviews</p>
          <hr>
          <div class="d-flex align-items-center mb-3">
            <label [for]="'quantity' + product.id" class="me-2"><strong>Quantity:</strong></label>
            <input type="number" [id]="'quantity' + product.id" class="form-control" [(ngModel)]="quantity" min="1" style="width: 70px" />
          </div>
          <button class="btn btn-primary my-4" (click)="addToCart()">Add to Cart</button>
          <p>{{ product.description }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="!product">
      <p>Product not found.</p>
      <div class="d-flex justify-content-center mt-3">
        <a href="/products" class="btn btn-link text-primary text-decoration-none">
          CONTINUE SHOPPING ->
        </a>
      </div>
    </div>
  </div>

  <!-- Additional Content Sections to scroll over the parallax background -->
  <div class="section">
    <!-- Featured Coffees Section -->
<section class="about-products-section py-5">
<div class="container">
<div class="row">
  <!-- About Me Column -->
  <div class="col-md-6 position-relative">
    <img src="/assets/images/burlabandcoffeebag.jpg" class="img-fluid w-100" alt="About Me">
    <div class="overlay-text">
      <h4>About Titus Coffee</h4>
        <p class="text-white">Learn more about our journey, mission, and values.</p>
    </div>
  </div>

  <!-- Products Column -->
  <div class="col-md-6 position-relative">
    <img src="/assets/images/2bags.jpg" class="img-fluid w-100" alt="Products">
    <div class="overlay-text">
      <h4>Our Products</h4>
      <p class="text-white">Explore our range of quality products.</p>
    </div>
  </div>
</div>
</div>
</section>
</div>

<app-footer></app-footer>