<app-navbar></app-navbar>

<div class="container mt-5">
    <h2>Selected Product</h2>
    <div *ngIf="product">
      <div class="row">
        <div class="col-md-4">
          <img [src]="product.image" class="img-fluid" [alt]="product.name"/>
        </div>
        <div class="col-md-6">
          <h3>{{ product.name }}</h3>
          <p><strong>Price:</strong> ${{ product.price }}</p>
          <p class="text-warning">⭐⭐⭐⭐⭐ ({{ product.rating }}/5) - {{ product.reviews }} Reviews</p>
          <hr>
          <div class="d-flex align-items-center mb-3">
            <label [for]="'quantity' + product.id" class="me-2"><strong>Quantity:</strong></label>
            <input type="number" [id]="'quantity' + product.id" class="form-control" [(ngModel)]="quantity" min="1" style="width: 70px" />
          </div>
          <button class="btn btn-primary my-4" (click)="addToCart()">Add to Cart</button>
          <p>{{ product.description }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="!product">
      <p>Product not found.</p>
      <div class="d-flex justify-content-center mt-3">
        <a href="/products" class="btn btn-link text-primary text-decoration-none">
          CONTINUE SHOPPING ->
        </a>
      </div>
    </div>
  </div>

  <!-- feature products -->
  <div class="container m-5">
    <h2>Featured Products</h2>
    <h3>Sidama Coffee</h3>
    <div class="row">
        <p class="text-muted">Sidama green coffee beans originate from the Sidama region in southern Ethiopia, one of the most renowned coffee-growing areas in the world. Grown at high elevations ranging from 1,700 to 2,200 meters (5,600 to 7,200 feet) above sea level, these beans benefit from the region’s fertile soil, ample rainfall, and ideal climate.
      Sidama coffee is known for its bright acidity, medium body, and complex flavor profile, often featuring floral, citrus, and berry notes with a tea-like finish. These high-altitude conditions contribute to the slow maturation of the coffee cherries, enhancing their rich and distinctive flavors.</p>
    </div>

    <hr>
    <h3>Ethiopian Yirgacheffe</h3>
    <div class="row">
      <p class="text-muted">Yirgachefe is a woreda in the Southern Nations, Nationalities, and Peoples’ Region (SNNPR) that needs little introduction. With its high altitude, mild climate and ample rainfall, Yirgacheffe has ideal conditions for Arabica production. Look for fruit-forward, sweet coffees that are always a favorite among coffee drinkers around the world. Yirgacheffe is also widely known for its distinct floral tones, intensely complex flavors, and bright acidity. Coffee from Yirgacheffe is predominately washed or natural processed.
    </div>

    <hr>
    <h3>Guji</h3>
    <div class="row">
      <p class="text-muted">Guji, a standout zone in the Oromia region, is also an excellent location for coffee production. Centuries after coffee was discovered, farmers in Guji still follow traditional growing methods that complement the incredibly fertile soil there. Because there is so much nutrition in the land, coffee is grown organically, although most are not certified as such. In addition to agricultural nutrition, the land in Guji is also rich in minerals like gold and precious stones.</p>
    </div>
  </div>


  <app-footer></app-footer>