 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Centered Logo -->
    <a class="navbar-brand" href="#">
      <img src="../tituslogo.png" alt="Titus Coffee Logo" style="height: 80px;">
    </a>

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCenter" 
      aria-controls="navbarCenter" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarCenter">
      <!-- Centered Navigation Links -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/insight">Insight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <!-- Cart aligned to the right -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <i class="fas fa-shopping-cart"></i> Cart
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>