/* Navbar Links */
ul li a {
    color: #5c3f0d;
    font-size: 2rem;
    font-family: 'Big Shoulders Stencil', cursive;
    padding-left: 60px; /* Space */
}

/* Hover Effect */
ul li a:hover {
    color: #e29f24;
}

nav {
    background-color: #fddea7!important;

}