/* Navbar Links */
ul li a {
    color: #5c3f0d;
    font-size: 2rem;
    font-family: 'Big Shoulders Stencil', cursive;
    padding-left: 40px; /* Space */
}

/* Hover Effect */
ul li a:hover {
    color: #EEC373;
}

/* Navbar Centering */
#navbarCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center the Main Links */
#navbarCenter ul:first-child {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Keep Cart Aligned to Right */
#navbarCenter ul:last-child {
    margin-left: auto;
}
