.bg-primary {
    background-color: #007bff;  /* Or your desired background color */
  }
/* Navbar Links */
ul li a {
    color: #010101;
    font-size: 1.5rem;
    /* font-family: 'Big Shoulders Stencil', cursive; */
    font-family: "Montserrat", sans-serif;
    /* bold */
    font-weight: 600;
    padding-left: 60px; /* Space */
}

/* Hover Effect */
ul li a:hover {
    color: #937233;
}
nav {
    background-color: #ededed !important;

}
/* Navbar Centering */
.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar-nav .nav-item.custom-spacing {
    margin-right: 20px; /* Adds space between each item */
  }

#cartItems_number {
    display: inline;
    margin: 0;
    padding: 5px;
    background-color: red;
    /* border-radius: 50% !important; */
    color: white !important;
    font-size: 0.8rem;
    text-align: center;
}
