<app-navbar></app-navbar>

<div class="about-container">
    <div class="about-content">
      <div class="article-section">
        <h2>Welcome to Titus Coffee</h2>
        <hr>
        <p style="">At Titus Coffee, we specialize in sourcing the finest single-origin green coffee from Ethiopia, the birthplace of coffee. As a dedicated green coffee importer, we connect roasters with roasters with ethically sourced beans that highlight Ethiopia’s rich coffee heritage and diverse flavor profiles.</p>
        <p>Our commitment goes beyond coffee—we build sustainable partnerships with Ethiopian farmers, ensuring fair prices, ethical trade, and environmentally responsible practices. By working directly with producers and cooperatives, we bring you traceable, specialty-grade coffee that reflects the unique terroir of each region, from the floral notes of Yirgacheffe to the bold richness of Sidamo.</p>
        <p>Whether you're a specialty roaster seeking unique microlots or a business in need of consistent, high-quality supply, we provide fresh, unroasted beans tailored to your needs. Fairly traded. Ethically sourced. Roasted to perfection.</p>
  
        <h3>Sidamo Coffee Bean Profile</h3>
        <p>Sidamo green coffee beans originate from the Sidamo region in southern Ethiopia, one of the most renowned coffee-growing areas in the world. Grown at high elevations ranging from 1,500 to 2,200 meters (4,900 to 7,200 feet) above sea level, these beans benefit from the region’s fertile soil, ample rainfall, and ideal climate.</p>
        <p>Sidamo coffee is known for its bright acidity, medium body, and complex flavor profile, often featuring floral, citrus, and berry notes with a tea-like finish. These high-altitude conditions contribute to the slow maturation of the coffee cherries, enhancing their rich and distinctive flavors.</p>
      </div>
  
      <div class="image-section">
        <img src="./Coffee_origin.webp" alt="Coffee Image 1" class="about-image mb-4">
        <img src="./sedamocoffee.jpg" alt="Coffee Image 2" class="about-image">
      </div>
    </div>
  </div>
  

<app-footer></app-footer>