/* You can add global styles to this file, and also import other style files */

body {
    /* background-color: #876445 !important; */
    color: white !important;
    font-family: 'Big Shoulders Stencil', cursive !important;
    color: #5c3f0d;
    background-color: #fddea7!important;
}

h2, p {
    color: #5c3f0d !important;
    font-family: 'Big Shoulders Stencil', cursive !important;
}