<app-navbar></app-navbar>


<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6">        
        <h2 class="mb-5">Shipping Details</h2>
        
        <div class="card p-4 mb-4">          
        <form #checkoutForm="ngForm" (ngSubmit)="handlePayment(checkoutForm)" novalidate>
            
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input type="text" class="form-control" placeholder="John Doe" 
                     [(ngModel)]="shippingDetails.fullName" name="fullName" required #fullName="ngModel">
              <small class="text-danger" *ngIf="fullName.invalid && fullName.touched">Full Name is required</small>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="johndoe@example.com"
                     [(ngModel)]="shippingDetails.email" name="email" required #email="ngModel">
              <small class="text-danger" *ngIf="email.invalid && email.touched">Valid Email is required</small>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Phone Number</label>
              <input type="tel" class="form-control" placeholder="+1 234 567 890" 
                     [(ngModel)]="shippingDetails.phone" name="phone" required #phone="ngModel">
              <small class="text-danger" *ngIf="phone.invalid && phone.touched">Phone Number is required</small>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" placeholder="123 Main St" 
                     [(ngModel)]="shippingDetails.address" name="address" required #address="ngModel">
              <small class="text-danger" *ngIf="address.invalid && address.touched">Address is required</small>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <label class="form-label">City</label>
                <input type="text" class="form-control" placeholder="New York"
                       [(ngModel)]="shippingDetails.city" name="city" required #city="ngModel">
                <small class="text-danger" *ngIf="city.invalid && city.touched">City is required</small>
              </div>
              <div class="col-md-6">
                <label class="form-label">ZIP Code</label>
                <input type="text" class="form-control" placeholder="10001"
                       [(ngModel)]="shippingDetails.zip" name="zip" required #zip="ngModel">
                <small class="text-danger" *ngIf="zip.invalid && zip.touched">ZIP Code is required</small>
              </div>
            </div>
  
            <div class="mt-4">
              <div class="form-check">
                <input type="radio" id="cardRadio" name="paymentMethod" class="form-check-input"
                       [(ngModel)]="selectedPayment" value="card" (change)="switchPayment('card')" required>
                <label class="form-check-label" for="cardRadio">Pay with Credit Card</label>
              </div>
  
              <div id="creditCardSection" class="collapse show">
                <div class="p-3 border rounded">
                  <h5 class="mb-3">Credit Card</h5>
                  <label>Card Number</label>
                  <div id="card-number-element" class="form-control p-2"></div>
  
                  <div class="row">
                    <div class="col-md-6">
                      <label class="mt-3">Expiration Date</label>
                      <div id="card-expiry-element" class="form-control p-2"></div>
                    </div>
                    <div class="col-md-6">
                      <label class="mt-3">CVC</label>
                      <div id="card-cvc-element" class="form-control p-2"></div>
                    </div>
                  </div>
                  <small class="text-danger" *ngIf="cardError">{{ cardError }}</small>
                </div>
              </div>
  
              <!-- <div class="form-check mt-3">
                <input type="radio" id="venmoRadio" name="paymentMethod" class="form-check-input"
                       [(ngModel)]="selectedPayment" value="venmo" (change)="switchPayment('venmo')" required>
                <label class="form-check-label" for="venmoRadio">Pay with Venmo</label>
              </div>
  
              <div id="venmoSection" class="collapse">
                <div class="p-3 border rounded">
                  <h5 class="mb-3">Venmo Payment</h5>
                  <img src="/venmo-qr.png" alt="Venmo QR Code" class="img-fluid">
                </div>
              </div>-->
            </div> 
  
            <button class="btn btn-primary mt-3 w-100" type="submit" [disabled]="checkoutForm.invalid ">
                Pay Now
              </button>              
  
          </form>
  
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="mb-5">Order Summary</h2>
        <div class="card p-3" *ngIf="cartItems.length > 0">
          <div class="container">
            <div class="row mb-2 border-bottom pb-2 d-flex align-items-center paddingItem" *ngFor="let item of cartItems">
              
              <div class="col-3 d-flex align-items-center">
                <img [src]="item.product.image" [alt]="item.product.name" class="img-fluid rounded" style="max-width: 30px;">
              </div>
      
              <div class="col-9 d-flex flex-column">
                <h6 class="mb-0 titleColor">{{ item.product.name }}</h6>
                <div class="d-flex justify-content-between">
                  <small><strong>Price:</strong> ${{ item.product.price }}</small>
                  <small><strong>Qty:</strong> {{ item.quantity }}</small>
                </div>
                <small class="fw-bold text-end">Total: ${{ (item.product.price * item.quantity) | number:'1.2-2' }}</small>
              </div>
      
            </div>
          </div>
      
          <p class="fw-bold text-end mt-2">Total: ${{ total | number:'1.2-2' }}</p>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
